
.login_footer{
    display: none;
}

/* .login_main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: var(--letraGaramond);
    background-image: url(/images/back1.jpg);
} */

.login_return{
    width: 100%;
    padding-left: 20px;
    margin : 10px 0 2px;
    font-family: var(--letraGaramond);
    font-size: 12px;
    text-decoration: none;
    background-color: var(--colorBlanco);
}

.login_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.login_section-header{
    width: 100%;
    text-align: center;
}

.login_section-header h1 {
    color: var(--colorMargendiv);
    font-size: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 0px;
    width: 100%;
}

.login_section-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login_section_main-option{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.log_sec_main_opt-log{
    width: 50%;
    background-color: none;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.log_sec_main_opt-log a{
    color: var(--colorMargendiv);
    text-decoration: none;
}

.log_sec_main_opt-reg{
    width: 50%;
    background-color: none;
    text-align: center;
    border-right: 2px solid var(--colorAzulOscuro);
    border-bottom: 2px solid var(--colorAzulOscuro);
}

.log_sec_main_opt-reg a{
    color:var(--colorAzulOscuro);
    text-decoration: none;

}

.login_section_main-correo p{
    color: var(--colorBlanco);
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.login_section_main-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 15px;
    gap: 10px;
}

.log_sec_main_form-container{
    width: 95%;
    text-align: left;
    color:blueviolet
}

.log_sec_main_form-container-boton{
    width: 95%;
    text-align: center;
    color:blueviolet
}
.log_sec_main_form-container input{
    width: 100%;
}

.login_error{
    font-size: 15px;
    color: var(--colorBlanco)
}

.log_sec_main_form-container label{
    display: block;
    text-align: left;
    width: 100%;
}

.log_sec_main_form-container button{
    width: 100px;
    border: 1px solid rgba(30, 7, 233, 1);
    border-radius: 10px;
    padding: 3px;
    color:var(--colorAzulOscuro);
    background-color: var(--colorBlanco);
    cursor:default;
}

.log_sec_main_form-container button:hover{
    color:var(--colorBlanco);
    background-color: var(--colorAzulOscuro);
    cursor: pointer;
}

.log_sec_main_form-container a{
    color: var(--colorRojo);
}

.login_section_main-correo{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.login_section_main-correo button{
    display: block;
    width: 150px;
    border: 2px solid var(--colorAzulOscuro);
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 3px 3px rgba(0,0,0,.6);
}

/* ======================= MEDIA QUERY || TABLET =======================*/
@media (min-width:768px) {
    /* .login_main{
        width: 70%;
        margin: 10px auto;
        font-family: var(--letraGaramond);
        box-shadow: 5px 5px 5px #000;
    } */
    
    .login_section{
        width: 60%;
        margin: 20px 0px;
        border: 2px solid var(--colorBlanco);
        box-shadow: 5px 5px 8px var(--colorMargendiv);
    }



}

/* ======================= MEDIA QUERY || DESKTOP =======================*/

@media (min-width: 1024px){

    .login_body{
        max-width: 1024px;
        margin: 0px auto;
    }

    
    
}
