*{
    box-sizing: border-box;

}

:root{
    /* Colores */
    --colorLila :#EB7CE2;
    --colorCreema: #EBD09D;
    --colorVioletaClaro: #A587EB;
    --colorVerde: #93EB6E;
    --colorCeleste: #7AAAEB;
    --colorLetra:#2A1D52;
    --colorVerdeOscuro: #025454;
    /* nuevos */
    --colorAzulOscuro: #003B74;
    --ColorAzulIntermedio: #008BED;
    --colorAzulClaro: #04A5D3;
    --colorCeleste: #97E7FE;
    --colorGrisOscuro: #323333;
    --colorBlanco: #ffffff;
    --colorRojo: #ff0000;
    /* neon */
    --colorFondo : #1a0321;
    --colorLetraHeader : #ed70f8;
    --colorMargendiv : #32093f ;
    --colorTitulo : rgb(145, 12, 90);
    --colorTitulo_1 : rgb(44, 136, 21);


    /* Tipografia */
    --letraGaramond: 'EB Garamond';

}


.general_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.general_main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0px 0px;
    color: var(--letraHeader);
    background: linear-gradient(
                    45deg,
                    rgb(104, 223, 104),rgb(221, 115, 216),rgb(104, 223, 104),rgb(108, 106, 214));
    background-size: 400% 400%;
    animation: cambiar 15s ease-in-out infinite;

}


@keyframes cambiar{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
