.menu--bottom {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: transparent;
    width: 70%;

}

.caja_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
}


.menu--bottom img {
    width: 100%;
    border-radius: 20% 0 20% 0;
    border: 1px solid black;
    justify-self: center;
}




.caja_bottom a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.caja_bottom p {
    margin: 0;
    margin-top: 5px;
    color: black;
    font-family: var(--letraGaramond);
    text-decoration: none;
    font-weight: 900;
}

.caja-bottom2 {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
}

.caja-bottom2 a {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.caja-bottom2 p {
    margin: 0;
    margin-top: 5px;
    color: black;
    font-family: var(--letraGaramond);
    text-decoration: none;
    font-weight: 900;

}




.descripcion {
    width: 100%;
    text-align: center;
    background-color: white;
    font-family: var(--letraGaramond)
}

.description p {
    text-align: center;

}

@media(min-width:768px) {

    .menu--bottom {
        justify-content: center;
        padding-top: 30px;
        gap: 3%;
    }

    .caja_bottom {
        justify-content: center;
        width: 30%;
        padding: 0;
        align-content: center;
    }

    .menu--bottom img {
        width: 100%;
    }

    .caja_bottom a {
        width: 100%;
    }

    .caja-bottom2 {
        align-content: center;
        justify-content: space-around;
    }

    .caja-bottom2 a {
        width: 50%;
    }
}

@media(min-width:1024px) {}