.main_menu{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
   /*background-image: url(/img/fondo.png);*/
    align-items: center;
}

.carrucel{
    display:flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid rgb(55, 192, 21);
    width: 80%;
    height: 60px;
    margin-top:7px;
}

.caja--menu-lista{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 100%;
}

.listado_categoria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25%;
    border: 1px solid white;
    align-content: flex-start;
    padding: 0px;
    margin-top: 7px;
    background-color: black;
    box-shadow: 0 0 10px red;
    color:var(--colorLetra);
    height: -webkit-fill-available;;
}

.caja-de-imagenes{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
}

.caja-de-producto{


    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
    background-color: rgb(132, 111, 230)


    /*     display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(11, 185, 49);
    width: 48%;
    padding: 0px;
    margin-top: 7px;
    margin-right: 4px;
    margin-bottom :7px;
    box-shadow: 0 0 10px red;
   background-color: rgb(221, 62, 181); */
}

.caja-de-producto:hover {
    box-shadow: 3px 3px 6px rgba(211, 28, 28, 0.5);
    border: 1px solid rgb(85, 4, 54);
    background-color: rgb(192, 216, 85)
  }

.listado_categoria h1{
    font-size: 13px;
    padding: opx;
    margin: 0px;
    color:white;

}
.listado_categoria a{
    font-size: 12px;
    margin:0px;
    padding: 0px;
    text-decoration: none;
    color :white;
    
}


.caja img{
    width: 100%;

}

.caja p{
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    margin:0px auto;
    padding: 0px;
}

/*====== Media-Queries ======*/
@media (min-width: 768px) {

    .caja-de-producto{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 5px;
        overflow: hidden;
        transition: 300ms;
        margin: 20px 0;
        width: 30%;
       ; 
 
    
    
        /*     display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(11, 185, 49);
        width: 48%;
        padding: 0px;
        margin-top: 7px;
        margin-right: 4px;
        margin-bottom :7px;
        box-shadow: 0 0 10px red;
       background-color: rgb(221, 62, 181); */
    }
    
    .caja-de-producto figure{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 5px auto;
        width: 95%;

    }

    .caja-de-producto img{
        width: 100%;
        height: 200px;
    
    }

}