<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"HOME"}) %> 

<body class="general_body">
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->

            <main class="general_main">
                <section class="menu--bottom">
                    <div class="caja_bottom">
                        <a href="../products/imprimir"><img src="/images/imgHome/imgModelosImprimir.jpg" alt="">
                            <p>Modelos para Imprimir</p>
                        </a>
                    </div>

                    <div class="caja_bottom">
                        <a href="../products/disponible"><img src="/images/imgHome/imgModeloStock.jpg" alt="">
                            <p>Modelos Disponibles</p>
                        </a>
                    </div>
                    
                    <div class="caja_bottom">
                        <a <% if (locals.userLogin) { %>
                                    href="../products/personalizado"><img src="/images/imgHome/imgPersonalizado.webp" alt="">
                                <p>Personalizado</p>
                                <% }else{ %>
                                    <a href="../users/login"><img src="/images/imgHome/imgPersonalizado.webp" alt="Registrate">
                                        <p>Modelos Personalizados</p>
                                    <% } %>
                        </a>
                    </div>
                </section>

                <section class="descripcion">

                    <h1 class="titulo">Descripcion</h1>
                    <p>Desde 2 años nos encargamos de la produccion de piezas impresas a base de plastico reciclado y
                        otros elementos , tambien en la creacion de piezas por diseños en computadora que posteriormente
                        se pasan a imprimir con las caracteristicas pedidas por el cliente,tambien la fabricacion de
                        piezas mecanicas que se necesitan que sean mas duras.
                        Trabajamos piezas estandar como piezas personalizadas a pedido
                    </p>
                </section>
            </main>

            <%- include('./partials/footer') %>
        </body>
        </html>