<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"PRODUCT CART"}) %> 

<body>
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="cart_main">
        <div class="cart_return">
            <a href="/">Inicio</a>
            <span>/Carrito de Compras</span>
        </div>
        <div class="cart_main-contener">
        <section class="cart_section-product">
             <article class="cart_article-muestra">
                <div class="cart_product-global">
                    <div class="cart_product-img">
                        <img src="/images/groot1.jpg" alt="">
                    </div>
                    <div class="cart_producto-info">
                        <h1>Groot 3d</h1>
                        <p>Mu単eco de Guardianes de la galaxia
                            dise単ado integramente en impresora
                            3d
                        </p>
                    </div>
                </div>
                <div class="cart_product-precio">
                    <h3>Precio $ 1000</h3>
                </div>
                <div class="cart_product-cant">
                    <select name="" id="">
                        <option value="0">01</option>
                        <option value="1">02</option>
                        <option value="2">03</option>
                        <option value="3">04</option>
                    </select>
                </div>
                <div class="cart_product_button">
                    <button>Guardar</button>
                    <button>Eliminar</button>
                </div>
            </article>

            <article class="cart_article-muestra">
                <div class="cart_product-global">
                    <div class="cart_product-img">
                        <img src="/images/Groot.jpg" alt="">
                    </div>
                    <div class="cart_producto-info">
                        <h1>Groot 3d</h1>
                        <p>Mu単eco de Guardianes de la galaxia
                            dise単ado integramente en impresora
                            3d
                        </p>
                    </div>
                </div>
                <div class="cart_product-cant">
                    <select name="" id="">
                        <option value="0">01</option>
                        <option value="1">02</option>
                        <option value="2">03</option>
                        <option value="3">04</option>
                    </select>
                </div>
                <div class="cart_product-precio">
                    <h3>Precio $ 1000</h3>
                </div>
                <div class="cart_product_button">
                    <button>Guardar</button>
                    <button>Eliminar</button>
                </div>
            </article>
        </section>


        <section class="cart_section-venta">
            <article class="cart_article-resumenpedido">
                <h1>Resumen de Pedido</h1>
                <div class="cart_article-resumenpedido-subtotal resumen_h2 cart_article-resumenpedido-cont">
                    <h2>Subtotal</h2>
                    <h2 class="valor">$2000</h2>
                </div>
                <hr>
                <div class="cart_article-resumenpedido-envio resumen_h2 cart_article-resumenpedido-cont">
                    <div>
                        <h2>Envio</h2>
                        <a href="">Calcular envio</a>
                    </div>
                    <h2 class="valor">$50</h2>
                </div>
                <hr>
                <div class="cart_article-resumenpedido-total resumen_h2 cart_article-resumenpedido-cont" >
                    <h2>Total</h2>
                    <h2 class="valor">$2050</h2>
                </div>
                <button class="buton_confirmar">CONFIRMAR COMPRA</button>
            </article>
        </section>
        </div>
    </main>

    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>

</html>