<footer class="footer">
    <div class="footer--top"></div>
    <div class="caja--footer">
        <div class="redes--sociales--footer">
            <h4>Redes Sociales</h4>
            <div class="redes--sociales--iconos">
                <a href=""><span class="iconify" data-icon="fa6-brands:facebook" style="color: rgba(18, 75, 160, 1); font-size: 25px;"></span></a>
                <a href=""><span class="iconify" data-icon="fa6-brands:instagram-square" style="color: rgba(186, 0, 78, 0.68); font-size: 25px;"></span></a>
                <a href=""><span class="iconify" data-icon="ant-design:twitter-circle-filled" style="color: rgba(9, 160, 224, 1); font-size: 27px;"></span></a>
                <a href=""><span class="iconify" data-icon="bi:youtube" style="color: rgba(233, 12, 12, 1); font-size: 25px;"></span></a>
                <a href=""><span class="iconify" data-icon="logos:pinterest" style="color: rgba(233, 12, 12, 1); font-size: 25px;"></span></a>
            </div>
        </div>
        <div class="contactos--footer">
            <h4>Contacto</h4>
            <div class="contacto--iconos--footer">
                <a><span class="iconify" data-icon="fa-solid:map-marked-alt" style="color: #699bf7; font-size: 14px;"></span>Cutral co - Plaza Huincul</a>
                <a><span class="iconify" data-icon="logos:whatsapp-icon" style="color: #699bf7; font-size: 14px;"></span>123456789</a>
                <a href=""><span class="iconify" data-icon="logos:google-gmail" style="color: #f24e1e; font-size: 14px;"></span>diseniame@gmail.com</a>
            </div>
    </div>
    <nav class="servicios--footer">
        <h4>UTILIDADES PARA ADMINISTRADOR</h4>
        <ul class="servicios--menu--footer">
        
        </ul>
    </nav>
    <hr class="hr">
    <div class="derechos--footer">
        <p>Derechos Reservados || DISEÑAME 3D || All rights reserved</p>
    </div>
    <div class="footer--botton"></div>
</footer>

