
    <header class="header">
        <div class="header_Top"></div>
        <a href="/" class="HT_ref">
            <div class="header_Logo">
                <img class="img_Logo" src="/images/print3d.png" alt="">
                <img class="text_Logo" src="/images/Dise-ame-3D-7-8-2022.png" alt="">
            </div>
        </a>
        <div class="menu_Bar">
            <div class="menu_burguer menu_Bar_Conten">
                <button class="bt-neon"
                    onclick = "document.querySelector('.menu_Bar_option').classList.toggle('Show')">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="menu_register menu_Bar_Conten">
                <a class="bt-neon" href="../users/login">  ingresar  <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
            </div>
            <form action="/products/search" class="menu_Form menu_Bar_Conten" method="get">
                <input type="search" name="keywords" >
                <a class="bt-neon" href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </form>
        </div>

        <nav class="menu_Bar_option">
            <div class="header_Bottom"></div>
            <ul>
                <li>
                    <% if (locals.userLogin) { %>
                        <% if (userLogin.rol === "admin") { %>
                            <a class="header_Bottom_reg bt-neon" href="../admin/crearProducto">crearProducto <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                        <% } %>
                        <a class="bt-neon" href="../products/productCart">carrito <i class="fa-solid fa-cart-shopping"></i></a>
                        <a class="header_Bottom_reg bt-neon" href="/users/profile"><%= userLogin.nombre %></a>
                        <a class="header_Bottom_reg bt-neon" href="/users/logout">salir</a>
                        <% } else { %>
                            <a class="bt-neon" href="">nosotros <i class="fa-solid fa-people-group"> </i></a>
                          <!--  <a class="header_Bottom_reg bt-neon" href="../users/register">registrate <i class="fa-solid fa-arrow-right-to-bracket"></i></a> -->
                            <a class="header_Bottom_reg bt-neon" href="../users/login">login <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                    <% } %>
                </li>
            </ul>
        </nav>
        <div class="header_Bottom"></div>
    </header>
